# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# Mac OS Zip Dir Temp
__MACOSX

# Dataset dir and files
UCI HAR Dataset
Dataset.zip

# Old Scripts
*.old
